
html{
	background-color: rgb(131, 130, 130);
}

.div{
	padding: 12px;
}

*{
	margin:auto;
	padding:0;
	outline:none;
	font-family: Montserrat;
}
#form-up{
	text-align: center;
	color: rgb(78, 60, 92);
	padding-bottom: 30px;
	font-size: 30px;
}

.footer-form-input{
    width: 480px;
    max-width: 100%;
    margin-bottom: 7px; 
    background: transparent;
    border: 1px solid rgba(256,256,256,.3);
    border-radius: 5px;
    line-height: 1.2;
    font-weight: 500;
    font-size: 14px;
    padding: 18px 24px;
    color: rgb(78, 60, 92);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.footer-contact-button{
    display: block;
    line-height: 12px;
    text-decoration: none;
    padding: 20px 10px;
    width: 100%;
    text-align: center;
    border: 1px solid rgb(156, 144, 165);
    border-radius: 5px;
    letter-spacing: 0.06em;
    color: rgb(78, 60, 92);
    background: rgb(156, 144, 165);
	width: 400px;
	height: 55px;
	text-align: center;
}

.cb_place{
	color: rgb(78, 60, 92); 
	font-size: 12px;
	padding-bottom: 20px;
}
#links{
	text-align: center;
	border: 1px solid rgb(131, 130, 130);
	margin: 30px 30px;
	margin-top:15px;
	margin-bottom:15px;
	padding:30px;
	padding-left: 60px;
}

#forma{
	border: 1px solid rgb(78, 60, 92)
	margin: 30px 30px;
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 30px;
	padding-left: 60px;
	font-weight: bold;
}

.radio{
	color:rgb(78, 60, 92);
	text-align: center;
	padding-right: 10px;
}

.radio-up{
	color: rgb(78, 60, 92);
	text-align: center;
}